<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heima.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.WRITE_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SpalshActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" >
            <intent-filter >
                <action android:name="com.heima.mobilesafe.home"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".LostFindActivity"></activity>
        <activity android:name=".SetUP1Activity"></activity>
        <activity android:name=".SetUP2Activity"></activity>
        <activity android:name=".SetUP3Activity"></activity>
        <activity android:name=".SetUP4Activity"></activity>
        <activity android:name=".SetUPBaseActivity"></activity>
        <activity android:name=".ContactActivity"></activity>
        <activity android:name=".AToolsActivity"></activity>
        <activity android:name=".AddressActivity"></activity>
        <activity android:name=".DragViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            ></activity>
        <activity android:name=".CallSmsSafeActivity"></activity>
        <activity android:name=".SoftManagerActivity"></activity>
        <activity android:name=".TaskManagerActivity"></activity>
        <activity android:name=".WatchDogActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            ></activity>
        <!-- 
        	standard:标准的启动模式
        	singleTop:将activity置为栈顶
        	singleTask：如果任务栈中的activity之前有该activity则将其中的activity删除，将该activity置顶
        	singleInstance:将activity单独放在一个任务栈中
        	android:excludeFromRecents="true":包含该activity的任务栈是否显示在最近列表中，true：表示不显示，false：表示显示.
        	但是只有设置了这个属性的activity运行了，该属性才生效
         -->
        <service android:name="com.heima.mobilesafe.service.GpsService"></service>
        <service android:name="com.heima.mobilesafe.service.AddressService"></service>
        <service android:name="com.heima.mobilesafe.service.BlackNumService"></service>
        <service android:name="com.heima.mobilesafe.service.WidgetService"></service>
        <service android:name="com.heima.mobilesafe.service.WatchdogService"></service>
        
        <receiver android:name="com.heima.mobilesafe.receiver.BootCompleteReceiver">
            <intent-filter 
                android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!-- 要想实现拦截短信操作，优先级必须大于0，因为优先级小于0，系统先接收到短信，优先级大于0，我们先接收短信 -->
        <receiver android:name="com.heima.mobilesafe.receiver.SmsReceiver">
            
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
       
        <receiver
            android:name="com.heima.mobilesafe.receiver.Admin"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!-- appwidgetProvider不是内容提供者，而是广播接收者 -->
        <receiver android:name="com.heima.mobilesafe.receiver.MyWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
    </application>

</manifest>